body {
  background-image: url(../images/snorlaxBackground.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0;
}

.title {
  text-align: center;
  color: #f9f4ad;
  margin-bottom: 3vh;
}

.headings {
  color: #991825;
  width: 30vw;
  text-align: left;
  text-decoration: underline;
}
.mainDisplay {
  max-width: 30vw;
}
#displayWelcome {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
#infoContainer:after {
  content: '';
  background-color: #991825;
  position: absolute;
  width: 2px;
  height: 60vh;
  top: 20vh;
  left: 50%;
  display: block;
}
#infoContainer {
  max-width: 30vw;
  display: flex !important;
  flex-direction: column;
}
.infoInput {
  width: 22vw;
  margin-right: -4px;
  font-size: 15px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-bottom: 10px;
  background-color: #f9f4ad;
}
.infoBtn {
  width: 7vw;
  font-size: 15px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  color: #f9f4ad;
  background-color: #991825;
}
.infoBtn:hover {
  color: #991825;
  background-color: #f9f4ad;
}
.subHeading {
  color: #f9f4ad;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}
#seeCoaghtPokemon {
  font-size: 20px;
  border-radius: 10px;
  color: #f9f4ad;
  background-color: #991825;
}
#seeCoaghtPokemon:hover {
  color: #991825;
  background-color: #f9f4ad;
}
#pokemonPicture{
  height: 120px;
  margin: auto;
  margin-top: -25px;
}
.list {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
  color: #991825;
  font-size: 20px;
}
#catchOrRelease{
  align-self: center;

}
.catchOrRelease {
  font-size: 20px;
  border-radius: 10px;
  color: #f9f4ad;
  background-color: #991825;
  width: 100px;
}
.catchOrRelease:hover {
  color: #991825;
  background-color: #f9f4ad;
}
#displayContainer {
  display: flex;
  flex-direction: column;
}
#coaghtContainer > h2 {
  width: 200px;
  margin-left: calc(50vw - 100px)
}
#coaghtContainer {
  margin-top: 50px;
}
#coaghtPokemon {
  display: flex;
  justify-content: center;
  color: #991825;
  text-align: center;
  font-size: 20px;
}